/*booking container*/
.booking-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  background-color: #fff;
  padding: 1rem 0;
  width: 95%;
  margin: 0 auto;
  box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
}

.whatsapp, .price-tag, .service-booking, .credit-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.02em;
}

/*booking container*/
.slide-image-container {
  text-align: center;
}

.swiper-container {
  max-width: 450px;
  width: 100%;
}

.slide-image {
  width: 100%;
}

/*select car*/
.select-car {
  position: relative;
  bottom: 5px;
}

.select-car-header {
  width: 293px;
  margin: 1rem auto;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
}

.selection {
  display: flex;
  width: 100%;
}

.select-car-container {
  padding-top: 2rem;
  color: white;
  background-color: rgba(22, 60, 128, 1);
}

.passenger, .commercial {
  flex-basis: 50%;
  text-align: center;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.car {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  border-bottom: 1px solid #EEEAEA;
  width:96%
}

.car-description, .car-container {
  flex-basis: 50%;
}

.car-description h3 {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
}

.car-description em {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

.car-description p {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #163C80;
  margin: 0.3rem 0;
}

.car-description-button {
  font-size: 11px;
  line-height: 13px;
  width: 75px;
  height: 21px;
  padding: 4px 8px;
  color: rgba(31, 117, 225, 1);
  border: 1px solid rgba(31, 117, 225, 0.63);
  background-color: rgba(31, 117, 225, 0.08);
  cursor: pointer;
}

.car-container {
  text-align: center;
}

.car-img {
  width: 85%;
}

.car-button {
  margin: 5rem auto;
  display: block;
  width: 50%;
  font-size: 1rem;
  padding: 1rem 0;
  color: rgba(22, 60, 128, 1);
  background-color: #fff;
  border: 2px solid #163C80;
  font-weight: 600;
  cursor: pointer;
}

.car-button:hover {
  background-color: rgba(22, 60, 128, 1);
  color: white;
  transition: background-color 0.3s ease;
}

/*select car*/
/*service order and sparepart*/
.service-order {
  text-align: center;
  background-image: url("../image/dealerOutlet/service.png");
  background-color: rgba(22, 60, 128, 1);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  Height: 267.65px;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.service-order-header {
  margin-bottom: 1rem;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.service-order-description {
  margin-top: 0;
  margin-bottom: 5rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

.service-button {
  max-width: 400px;
  margin: 0 auto;
  width: 70%;
  padding: 13px 20px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
}

.service-sparepart {
  text-align: center;
  background-image: url("../image/dealerOutlet/gear.png");
  background-color: rgba(22, 60, 128, 1);
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-bottom: 2rem;
}

/*service order and sparepart*/
.copyright {
  position: relative;
  top: 8rem;
}

@media screen and (min-device-width:450px) {
  .slide-image {
    width: 100%;
    max-width: 450px;
  }

  .select-car, .service-order, .service-sparepart {
    max-width: 450px;
  }

  /*car selection*/
  .select-car {
    margin: 0 auto
  }

  .passenger, .commercial {
    font-size: 16px;
  }

  .car-img {
    width: 100%;
  }

  .car-description {
    font-size: 1.2rem;
    margin-left: 2rem;
  }

  .car-description-button {
    font-size: 13px;
    width: 49%;
  }

  .car-button {
    width: 55%;
    font-size: 1rem;
  }

  /*car selection*/
  /*service */
  .service-order, .service-sparepart {
    height: 19rem;
  }

  .service-order {
    margin: 2rem auto 0 auto;
  }

  .service-sparepart {
    margin: 0 auto 4rem auto;
  }

  .service-order-header {
    font-size: 1.8rem;
  }

  .service-order-description {
    font-size: 1rem;
    margin-bottom: 3rem;
  }

  .service-button {
    width: 53%;
    font-size: 1rem;
    padding: 1rem;
  }

  /*service*/
  .copyright {
    position: relative;
    top: 7rem;
  }
}
