/*big title*/
.big-title {
  text-align: center;
  margin: 0 auto;
  background-color: rgba(22, 60, 128, 1);
  color: white;
  height: 20rem;
}

.big-title-header {
  padding: 1rem;
  font-size: 1.5rem;
}

/*big title*/
/*card properties*/
/*first section*/
.card-collection {
  bottom: 16rem;
  position: relative;
}

.card {
  margin: 5rem auto;
  width: 90%;
  border-radius:8px;
  background-color:white;
  box-shadow: 0px 1px 19px 4px rgba(0,0,0,0.57);
  padding-bottom: 2rem;
}

.outlet-image {
  width: 100%;
  border-radius: 8px;
}

.outlet-description {
  font-size: 0.8rem;
  padding: 0.5rem;
  display: inline-block;
  border: 2px solid #1F75E1;
  background-color: rgba(31, 117, 225, 0.08);
  border-radius: 10px;
  color: #1F75E1;
}

.outlet-header {
  font-size: 15px;
  font-weight:700;
  color: black;
}

.outlet-information {
  margin: 1rem 0;
  font-size: 12px;
  color: rgba(132, 146, 166, 1);
  font-weight: 500;
}

.icon-info {
  margin-right: 1rem;
}

.outlet-button {
  display: block;
  max-width: 980px;
  width: 95%;
  margin:0 auto;
  padding: 1rem 0;
  font-size: 1rem;
  background-color: white;
  border: 2px solid #163C80;
  color: #163C80;
  cursor: pointer;
}

.outlet-button:hover {
  background-color: #163C80;
  color: white;
  transition: background-color 0.3s ease;
}

.card-description {
  margin-left: 2rem;
}

/*first section*/
/*second section*/
.information {
  position: relative;
  bottom: 13rem;
  z-index: -1;
  height:87rem;
  margin-bottom: 8rem;
}

.information-configuration {
  padding: 2rem;
  font-size: 1rem;
}

.news-image {
  width: 100%;
}

.news-list {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  bottom: 20rem;
}

.news {
  margin: 5rem 0;
  background-color: white;
  padding-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0px 1px 19px 4px rgba(0,0,0,0.57);
}

.news-description {
  margin-left: 2rem;
  text-align: left;
  color: black;
  font-weight: 700;
}

.news-date{
  font-size: 0.75rem;
  color: rgba(132, 146, 166, 1);
  font-weight: normal;
}


.news-button {
  font-size: 1rem;
  width: 65%;
  padding: 1rem;
  background-color: white;
  border: 2px solid #163C80;
  color: #163C80;
  cursor: pointer;
}

.news-button:hover {
  background-color: #163C80;
  color: white;
}

/*second section*/
/*card properties*/
/*address for home*/
.address {
  position: relative;
  bottom: 17rem;
}

.hotline {
  position: relative;
  top: 4rem;
}

/*address for home*/
@media screen and (min-device-width:450px) {
  .big-title, .card-collection, .information {
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
  }

  /*big title*/
  .big-title {
    height: 17rem;
  }

  .big-title-header {
    padding: 4rem 2rem;
    font-size: 1.5rem;
  }

  /*big title*/
  /*card configuration*/
  .card-collection {
    bottom: 12rem;
  }

  .outlet-description {
    font-size: 0.7rem;
  }

  .icon-info {
    margin-right: 1rem;
  }

  .outlet-information {
    font-size: 1rem;
  }

  .outlet-button {
    padding: 1rem 0;
    font-size: 1.3rem;
  }

  /*card configuration*/
  /*news configuration*/
  .information{
    height:auto;
  }

  .information-configuration {
    padding: 3rem 0;
    font-size: 1.3rem;
  }

  .news-list {
    bottom: 14rem;
  }



  .news-description {
    font-size: 1rem;
  }

  .news-button {
    font-size: 1rem;
    max-width: 400px;
    padding: 1rem
  }

  /*news configuration*/
}
