body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
}

.anchor-link {
  text-decoration: none;
  color: black;
}

/*for javascript*/
.notshowed {
  display: none !important;
  visibility: hidden;
}

.underline-choosed {
  border-bottom: 0.3rem solid #163c80 !important;
}

.underline-choosed2 {
  border-bottom: 0.3rem solid #fff;
}

/*for javascript*/
/*navigation bar*/
.navbar, .left-navbar {
  display: flex;
  align-items: center;
}

.navbar-hamburger {
  padding: 0.8rem;
  background-color: #163c80;
  color: #fff;
  border-radius: 50%;
}

.left-navbar {
  justify-content: flex-start;
}

.navbar {
  padding: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.logo-description {
  font-size: 11px;
  margin-left: 1rem;
}

.logo-description h3 {
  font-weight: 700;
}

.logo-description p {
  font-weight: 400;
}

.suzuki-logo {
  width: 15%;
}

.fa-bars {
  cursor: pointer;
}

/*navigation bar*/
/*sidebar properties*/
.sidenav {
  height: 100%;
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 0;
  background-color: #111;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  justify-content: flex-end;
  overflow: visible;
}

.sidebar-content {
  width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: white;
  transition: 0.5s ease;
}

.sidebar-telephone {
  width: 80%;
  margin: 2rem auto;
  padding: 0.8rem;
  background-color: #163C80;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.02em;
}

.cross-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.sidebar-content-cross {
  font-size: 2rem;
  margin: 2rem;
  text-align: right;
  cursor: pointer;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 90%;
  padding: 1rem 0;
  border-bottom: 1px solid #EEEAEA;
}

.sidebar-link-address {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 205.9%;
  color: #111010;
}

.sidebar-hotline {
  display: flex;
  align-items: center;
}

.sidebar-image {
  width: 50%;
}

.sidebar-image-hotline {
  width: 81px;
  height: 81px;
  margin: 0 1rem;
}

.sidebar-image-app {
  width: 163px;
  height: 53px;
  margin: 0 1rem;
}

.sidebar-copyright {
  height:100%;
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
}

.sidebar-copyright p {
  margin-left: 1rem;
}

/*sidebar properties*/
/*address bar*/
.address {
  background-color: white;
}

.address-navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.address-header {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: center;
}

.address-link {
  text-decoration: none;
  color: black;
  margin: 0 0.4rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: center;
}

.main-address {
  text-align: center;
  margin: 3rem auto 1rem auto;
  width: 95%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 2rem 0;
}

.address-description {
  width: 93%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.address-description2 {
  width: 93%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.address-btn {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1rem auto;
  position: relative;
}

.address-button {
  height: 46px;
  min-width: 209px;
  left: 83px;
  top: 4906px;
  border-radius: 2px;
  padding: 13px, 20px, 13px, 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.google-maps {
  color: #163C80;
  border: 2px solid #163C80;
  background: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 1rem;
}

.telephone-number {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-align: center;
}

.pin-map, .telp-icon {
  position: relative;
}

.pin-map {
  right: 1rem;
}

.telp-icon {
  right: 2rem;
}

.google-maps:hover {
  background: #163C80;
  color: white;
  transition: background-color .3s ease;
}

.telephone-number {
  background: #163C80;
  color: white;
}

/*address bar*/
/*hotline*/
.hotline {
  text-align: center;
}

.hotline-header {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: center;
}

.hotline-image, .hotline-app {
  max-width: 151px;
  width: 100%;
  margin: 2rem auto;
}

.hotline-app-container {
  display: flex;
  flex-direction: column;
}

/*hotline*/
/*copyright*/
.copyright {
  text-align: center;
  padding: 3rem 0 10rem 0;
  background-color: rgba(22, 60, 128, 1);
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.02em;
}

/*copyright*/
@media screen and (min-device-width:450px) {
  .address-link {
    font-size: 1rem;
  }

  .address-btn {
    align-items: center;
  }

  .address-button {
    font-size: 0.9rem;
    min-width: 209px;
    width: 50%;
    max-width: 400px;
  }

  .address-navbar {
    margin-bottom: 3rem;
  }

  .hotline-image, .hotline-app {
    max-width: 200px;
  }
}
