body {
  position: relative;
}

/*booking form*/
.form-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.booking-car-form {
  padding: 1rem 0 2rem 0;
  background-color: white;
  position: fixed;
  top: 3rem;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cross-form {
  margin-left: 1rem;
  cursor: pointer;
}

.form-header h3 {
  flex-basis: 65%;
}

.form {
  margin: 2rem;
}

.form-name input[type=text], .form-email input[type=email], .form-number input[type=tel] {
  width: 99%;
  height: 2rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid #E5E9F2;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.form-car {
  display: flex;
}

.form-type2 {
  margin-left: 2rem;
}

.form-type1 select, .form-type2 select {
  height: 2rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid #E5E9F2;
}

.form-button {
  display: flex;
  justify-content: space-around;
}

.form-button-1, .form-button-2 {
  width: 40%;
  font-size: 1rem;
  padding: 0.8rem;
  border: none;
  cursor: pointer;
}

.form-button-1 {
  color: rgba(22, 60, 128, 1);
  background-color: white;
}

.form-button-2 {
  color: #fff;
  background-color: rgba(22, 60, 128, 1);
}

/*booking form*/
/*booking car container*/
.booking-car-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  background-color: #fff;
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
  box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  z-index: 3;
}

.booking-car-button {
  flex-basis: 45%;
  padding: 0.8rem 0;
  color: white;
  background-color: rgba(22, 60, 128, 1);
  border: none;
  max-width: 600px;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
}

.whatsapp, .credit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.02em;
  text-align: left;
  cursor: pointer;
}

.whatsapp-logo {
  background: rgba(27, 215, 65, 1);
  padding: 0.5rem;
  border-radius: 50%;
  color: white;
  font-size: 1rem;
}

.credit-card-logo {
  background: rgba(232, 243, 255, 1);
  border-radius: 50%;
  padding: 1rem;
}

.whatsapp p, .credit-card p {
  margin-bottom: 0;
}

/*booking car container*/
/*main section*/
/*NAVBAR*/
.XL7-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

.navbar-down p {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding: 0.5rem 0 0.5rem 1rem;
  color: #111010;
  background: #F8F7F7;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.car-name {
  overflow-x: auto;
}

.car-specification-link {
  display: flex;
  margin-right: 2rem;
  width: 35rem;
}

.car-specification-link-address {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  padding: 0.8rem;
}


.notactivate{
  color: rgba(22, 60, 128, 0.35);
}


/*NAVBAR*/
/*XL7 SLIDE SHOW*/
.overview-slideshow {
  background-color: rgba(22, 60, 128, 1);
}

.XL7-banner {
  width: 100%;
}

.swiper-pagination {
  width: auto !important;
  left: 44% !important;
  bottom: 2rem !important;
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: 4px !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  left: 8px;
  top: 6px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

.slide-arrow {
  background: white;
  padding: 0.4rem 0.5rem;
  border-radius: 50%;
}

.swiper-button-prev::after, .swiper-button-next::after {
  content: '';
  display: none;
  visibility: hidden;
}

.banner-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.banner-description-value {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid gray;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}

.banner-headline {
  width: 80%;
  margin: 2rem auto;
}

.overview-button-collection {
  margin: 2rem 0;
}

.overview-button {
  border-radius: 2px;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0.4rem;
}

.overview-brochure {
  background-color: rgba(22, 60, 128, 1);
  border: 2px solid #fff;
  color: #fff;
  width: 156px;
  height: 36.65px;
}

.overview-price {
  width: 91px;
  height: 36.65px;
  background-color: white;
  border: none;
  color: rgba(22, 60, 128, 1);
}

/*XL7 SLIDESHOW*/
/*car customize*/
.car-customize-header {
  margin-top: 2rem;
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.XL7-Type {
  display: flex;
  justify-content: center;
  font-size: 0.5rem;
  margin: 1rem 0 3rem 0;
}

.XL7-Type-link {
  padding: 0 1rem;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 0.3rem solid rgba(17, 16, 16, 0.2);
}

.choosing-car {
  text-align: center;
}

.choosing-car h3 {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.round {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.22);
}

.XL7-alpha-image, .XL7-beta-image, .XL7-zeta-image {
  width: 80%;
}

/*colour-list*/
.car-colour {
  margin-bottom: 2rem;
}

.colour1, .colour2, .colour3 {
  display: flex;
  justify-content: center;
}

/*colour list*/
/*colour selection 1*/
.colour1-value1 {
  background-color: rgba(192, 76, 60, 1);
  margin: 0 0.5rem;
}

.colour1-value2 {
  background: rgba(174, 146, 61, 1);
  margin: 0 0.5rem;
}

.colour1-value3 {
  background: rgba(0, 0, 0, 1);
  margin: 0 0.5rem;
}

.colour1-value4 {
  background: rgba(255, 255, 255, 1);
  margin: 0 0.5rem;
}

/*colour selection 1*/
/*colour selection 2*/
.border-choosed {
  border: 2px solid #163C80 !important;
}

.colour2-value1 {
  background-color: #534050;
  margin: 0 0.5rem;
}

.colour2-value2 {
  background: #797979;
  margin: 0 0.5rem;
}

.colour2-value3 {
  background: #fff;
  box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  margin: 0 0.5rem;
}

.colour2-value4 {
  background-color: #000;
  margin: 0 0.5rem;
}

/*colour selection 2*/
/*colour selection 3*/
.colour3-value1 {
  background: #fff;
  box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  margin: 0 0.5rem;
}

.colour3-value2 {
  background-color: #000;
  margin: 0 0.5rem;
}

.colour3-value3 {
  background: #797979;
  margin: 0 0.5rem;
}

.colour3-value4 {
  background-color: #534050;
  margin: 0 0.5rem;
}

/*colour selection 3*/
/*car customize*/
/*Eksterior*/
.XL7-exterior, .XL7-interior {
  background-color: rgba(22, 60, 128, 1);
  margin: 3rem 0;
  position: relative;
  padding: 1rem 0;
}

.XL7-exterior-header, .XL7-interior-header {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  padding: 1.3rem 0;
  margin: 0;
}

.exterior-row-1-image, .interior-row-1-image {
  width: 100%;
}

.exterior-row-2, .exterior-row-3, .interior-row-2, .interior-row-3 {
  display: flex;
}

.exterior-row-2, .interior-row-2 {
  position: relative;
  bottom: 5px;
}

.exterior-row-3, .interior-row-3 {
  position: relative;
  bottom: 9px;
}

.exterior-row-2-image, .exterior-row-3-image, .interior-row-2-image, .interior-row-3-image {
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 42.2%, #000000 97.59%);
}

.ex-in-description1, .ex-in-description2, .ex-in-description3, .ex-in-description4, .ex-in-description5,
.ex-in-description6, .ex-in-description7, .ex-in-description8, .ex-in-description9, .ex-in-description10 {
  position: absolute;
  color: #fff;
  text-align: center;
  bottom: 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 129.7%;
}

.ex-in-description1 {
  left: 20%;
}

.ex-in-description2 {
  left: 5%
}

.ex-in-description3 {
  left: 10%
}

.ex-in-description9, .ex-in-description10 {
  left: 5%;
}

.ex-in-description4 {
  left: 20%;
}

.ex-in-description5 {
  left: 35%;
}

.ex-in-description6 {
  left: 33%;
}

.ex-in-description7 {
  left: 33%;
}

.exterior-row-1-value-1, .exterior-row-2-value-1, .exterior-row-2-value-2, .exterior-row-3-value-1, .exterior-row-3-value-2,
.interior-row-1-value-1, .interior-row-2-value-1, .interior-row-2-value-2, .interior-row-3-value-1, .interior-row-3-value-2 {
  position: relative;
  flex-basis: 50%;
}

.exterior-button, .interior-button {
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.interior-button, .exterior-button {
  background-color: rgba(22, 60, 128, 1);
  border: 2px solid #fff;
  color: #fff;
}

/*Eksterior*/
/*car specification*/
.car-specification {
  width: 90%;
  margin: 3rem auto;
}

.car-specification-header {
  text-align: center;
  margin-bottom: 3rem;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.arrow-up {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.arrow-down {
  transition: transform 0.3s ease;
}

.specification1, .specification2, .specification3, .specification4, .specification5, .specification6 {
  margin: 2rem 0;
  background-color: #F1F5F6;
  cursor: pointer;
}

.specification1 h3, .specification2 h3, .specification3 h3, .specification4 h3, .specification5 h3, .specification6 h3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.container-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(241, 245, 246, 1);
  padding: 0 2rem;
  border-radius: 5px;
}

.dimension-table, .machine-table, .transmission-table, .weight-table, .foundation-table, .capacity-table {
  font-size: 1rem;
  line-height: 33px;
}

.dimension, .machine, .transmission, .weight, .foundation, .capacity {
  width: 99%;
  margin: 1rem auto;
  background-color: white;
  border-radius: 4px 4px 0px 0px;
}

.gear-table {
  line-height: 33px;
}

/*car specification*/
/*price list*/
.price-list-header {
  text-align: center;
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.price {
  width: 90%;
  margin: 0 auto 6rem auto;
}

.price1, .price2, .price3, .price4, .price5, .price6 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(241, 245, 246, 1);
  margin: 1rem 0;
  padding: 0 1rem;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 165.5%;
  /* or 23px */
  letter-spacing: 0.02em;
}

.price-button {
  width: 212px;
  height: 43px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-color: white;
  border: 2px solid #163C80;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: 600;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #163C80;
}

.price-button:hover {
  color: white;
  border: 2px solid #163C80;
  background-color: #163C80;
  transition: background-color 0.3s ease;
}

/*price list*/
.copyright {
  position: relative;
  top: 8rem;
}

/*main section*/
@media screen and (min-device-width:450px) {
  .overview, .car-customize {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }

  /*booking car form*/
  .booking-car-form {
    top: 11rem;
  }

  .whatsapp, .credit-card {
    font-size: 0.85rem;
  }

  /*booking car form*/
  /*navbar*/
  .car-name {
    padding: 0;
    font-size: 0.8rem;
  }

  .car-specification-link {
    font-size: 0.8rem;
    padding-top: 0;
  }

  /*navbar*/
  /*overview section*/
  .overview-button-collection {
    display: flex;
    justify-content: center;
  }

  .overview-button {
    font-size: 1.1rem;
    margin: 1rem;
  }

  .overview-brochure {
    width: 11rem;
    height: 3rem;
  }

  .overview-price {
    height: 3rem;
  }

  /*overview ection*/
  /*XL7 TYPE and interior*/
  .XL7-exterior, .XL7-interior {
    width: 100%;
    max-width: 450px;
    margin: 0 auto 5rem auto;
  }

  .XL7-Type {
    margin: 2rem 0;
    font-size: 1.5rem;
  }

  .XL7-Type-link {
    padding: 0 1.5rem;
  }

  .exterior-button, .interior-button {
    font-size: 1.3rem;
    padding: 1rem;
  }

  /*XL 7 TYPE and interior*/
  /*car specification*/
  .car-specification {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  .dimension-table, .machine-table, .transmission-table, .weight-table, .foundation-table, .capacity-table {
    font-size: 1.2rem;
    width: 90%;
  }

  /*car specification*/
  /*price list*/
  .price {
    margin-bottom: 3rem;
  }

  .price-list {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
  }

  .price-list-header {
    text-align: center;
  }

  .price1, .price2, .price3, .price4, .price5, .price6 {
    font-size: 1.25rem;
  }

  .price-button {
    font-size: 1.3rem;
    padding: 1rem;
    margin-bottom: 3rem;
    width: 18rem;
    height: 4rem;
  }

  /*price list*/
  .copyright {
    position: relative;
    top: 7rem;
  }
}
