/*booking car container*/
.booking-car-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  background-color: #fff;
  padding: 1rem 0;
  width: 80%;
  margin: 0 auto;
  box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
}

.booking-car-button {
  flex-basis: 45%;
  padding: 1rem 0;
  color: white;
  background-color: rgba(22, 60, 128, 1);
  border: none;
  letter-spacing: 3px;
  max-width: 600px;
  cursor: pointer;
  font-weight: 600;
}

.whatsapp, .credit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*booking car container*/
/*main section*/
/*NAVBAR*/
.XL7-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

.car-name {
  padding: 1rem 0;
  margin-left: 1rem;
}

.car-specification-link {
  font-size: 2rem;
  display: flex;
  padding: 2rem 0;
  margin-left: 1rem;
}

.car-specification-link-address {
  text-decoration: none;
  color: black;
  margin: 0 1.5rem 0 0;
}

/*NAVBAR*/
/*XL7 SLIDE SHOW*/
.overview-slideshow {
  background-color: rgba(22, 60, 128, 1);
}

.XL7-banner {
  width: 100%;
}

.banner-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.banner-description-value {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5rem;
  line-height: 1.5;
  border-bottom: 2px solid gray;
}

.banner-headline {
  width: 80%;
  margin: 3rem auto;
}

.overview-button {
  font-size: 2rem;
  padding: 2rem;
  margin: 5rem 2rem;
  cursor: pointer;
}

.overview-brochure{
  background-color:rgba(22, 60, 128, 1);
  border: 2px solid #fff;
  color: #fff;
}

.overview-price{
  background-color:white;
  border: none;
  color:rgba(22, 60, 128, 1);
}

/*XL7 SLIDESHOW*/
/*car customize*/
.car-customize-header {
  text-align: center;
}

.XL7-Type {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin: 5rem 0;
}

.XL7-Type-link {
  padding: 0 3rem;
  cursor: pointer;
}

.choosing-car {
  text-align: center;
}

.round {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.XL7-alpha-image, .XL7-beta-image, .XL7-zeta-image {
  width: 100%;
}

/*colour-list*/
.car-colour{
  margin-bottom: 2rem;
}

.colour1, .colour2, .colour3 {
  display: flex;
  justify-content: center;
}

/*colour list*/
/*colour selection 1*/
.colour1-value1 {
  background-color: rgba(192, 76, 60, 1);
  margin: 0 0.5rem;
}

.colour1-value2 {
  background: rgba(174, 146, 61, 1);
  margin: 0 0.5rem;
}

.colour1-value3 {
  background: rgba(0, 0, 0, 1);
  margin: 0 0.5rem;
}

.colour1-value4 {
  background: rgba(255, 255, 255, 1);
  box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  margin: 0 0.5rem;
}

/*colour selection 1*/
/*colour selection 2*/
.colour2-value1 {
  background-color: #534050;
  margin: 0 0.5rem;
}

.colour2-value2 {
  background: #797979;
  margin: 0 0.5rem;
}

.colour2-value3 {
  background: #fff;
  box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  margin: 0 0.5rem;
}

.colour2-value4 {
  background-color: #000;
  margin: 0 0.5rem;
}

/*colour selection 2*/
/*colour selection 3*/
.colour3-value1 {
  background: #fff;
  box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -1px 1px 30px -3px rgba(0, 0, 0, 0.63);
  margin: 0 0.5rem;
}

.colour3-value2 {
  background-color: #000;
  margin: 0 0.5rem;
}

.colour3-value3 {
  background: #797979;
  margin: 0 0.5rem;
}

.colour3-value4 {
  background-color: #534050;
  margin: 0 0.5rem;
}

/*colour selection 3*/
/*car customize*/
/*Eksterior*/
.XL7-exterior, .XL7-interior{
  background-color: rgba(22, 60, 128, 1);
  padding:3rem 0;
  margin: 3rem 0;
}

.XL7-exterior-header, .XL7-interior-header {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  margin-bottom:4rem;
}

.exterior-row-1-image, .interior-row-1-image {
  width: 100%;
}

.exterior-row-2, .exterior-row-3, .interior-row-2, .interior-row-3 {
  display: flex;
}

.exterior-row-2-image, .exterior-row-3-image, .interior-row-2-image, .interior-row-3-image {
  flex-basis: 50%;
}

.exterior-button, .interior-button {
  display: block;
  margin: 2rem auto;
  font-size: 2rem;
  padding: 2rem;
  cursor: pointer;
}

.interior-button, .exterior-button{
  background-color:rgba(22, 60, 128, 1);
  border: 2px solid #fff;
  color: #fff;
}

/*Eksterior*/
/*car specification*/
.car-specification{
  width:80%;
  margin:5rem auto;
}

.car-specification-header {
  text-align: center;
  font-size:3rem;
  margin-bottom: 4rem;
}

.arrow-up {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.arrow-down{
  transition: transform 0.3s ease;
}

.specification1, .specification2, .specification3, .specification4, .specification5, .specification6{
  margin: 2rem 0;
}

.container-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(241, 245, 246, 1);
  padding: 0 2rem;
  border-radius: 5px;
}

.dimension-table, .machine-table, .transmission-table, .weight-table, .foundation-table, .capacity-table {
  margin: 1.5rem auto;
  font-size: 2rem;
  width: 80%;
}

/*car specification*/
/*price list*/
.price-list-header{
  text-align:center;
  font-size:3.5rem;
  margin-bottom:5rem;
}

.price {
  width: 90%;
  margin: 0 auto 6rem auto;
}

.price1, .price2, .price3, .price4, .price5, .price6 {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  background-color: rgba(241, 245, 246, 1);
  margin: 2rem 0;
  padding: 0 2rem;
  border-radius: 5px;
}

.price-button {
  font-size: 2rem;
  padding: 2rem;
  display: block;
  margin: 0 auto;
  margin-bottom:5rem;
  color: rgba(22, 60, 128, 1);
  background-color:white;
  border: 2px solid rgba(22, 60, 128, 1);
  font-weight: 600;
  cursor: pointer;
}

/*price list*/
/*main section*/
@media screen and (min-device-width:450px) {
  .overview, .car-customize {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }

  /*navbar*/
  .car-name {
    padding: 0;
    font-size: 0.8rem;
  }

  .car-specification-link {
    font-size: 0.8rem;
    padding-top: 0;
  }

  /*navbar*/
  /*overview section*/
  .overview-button-collection {
    display: flex;
    justify-content: center;
  }

  .overview-button {
    font-size: 1.1rem;
    padding: 1rem;
    margin: 2rem 1rem;
  }

  /*overview ection*/
  /*XL7 TYPE and interior*/
  .XL7-exterior, .XL7-interior {
    width: 100%;
    max-width: 450px;
    margin: 0 auto 5rem auto;
  }

  .XL7-Type {
    margin: 2rem 0;
    font-size: 1.5rem;
  }

  .XL7-Type-link {
    padding: 0 1.5rem;
  }

  .exterior-button, .interior-button {
    font-size: 1.3rem;
    padding: 1rem;
  }

  /*XL 7 TYPE and interior*/
  /*car specification*/
  .car-specification {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  .dimension-table, .machine-table, .transmission-table, .weight-table, .foundation-table, .capacity-table {
    font-size: 1.2rem;
    width: 90%;
  }

  /*car specification*/
  /*price list*/
  .price {
    margin-bottom: 3rem;
  }

  .price-list {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
  }

  .price-list-header {
    text-align: center;
  }

  .price1, .price2, .price3, .price4, .price5, .price6 {
    font-size: 1.25rem;
  }

  .price-button {
    font-size: 1.3rem;
    padding: 1rem;
    margin-bottom: 3rem;
  }

  /*price list*/
  .copyright {
    position: relative;
    top: 7rem;
  }
}
